<!-- Portfolio Text -->
<div class="container-fluid pb-5 portfolio-text">
  <div class="row">
    <div class="col-md-7 offset-md-1 col-sm-12">
      <h2>Let us help you create a BETTER activity list.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 offset-md-1 col-sm-12">
      <p class="pb-5 pt-5">
        Come and browse our abundant activity collections, For Free. Take inspiration, make your own list and share with
        others.
        <br>
        Grab your badges and receive awesome prizes from our partners.
        <br>
        Train & Plane tickets, Hotel fees, Meal vouchers, Shopping discounts, Free restaurants. You name it, we have it.
        <br>
        You just need to start crafting activities.
      </p>
    </div>
  </div>
</div>
<!-- End Portfolio Text -->

<!-- Gallery -->
<div class="scrollblock pb-5">
  <div class="container-fluid">
    <div class="row justify-content-md-center ">
      <div class="col-md-10 col-sm-12">
        <div class="card-columns">
          <div class="card card-hover h-100">
            <div class="card-body">
              <a href="index.html">
                <img class="card-img-top" src="../../../assets/chicago.avif" alt="Card image cap">
                <div class="reveal h-100 p-2 d-flex ">
                  <div class="w-100 align-self-center">
                    <p>Chicago</p>
                    <p class="card-text">
                      * visit the art institute of chicago
                      <br>
                      * take a photo in front of cloud gate
                      <br>
                      * check out chicago skyline
                      <br>
                      * chicago river architecture tour
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="card card-hover h-100">
            <div class="card-body">
              <a href="index.html">
                <img class="card-img-top" src="../../../assets/tokyo.avif" alt="Card image cap">
                <div class="reveal h-100 p-2 d-flex ">
                  <div class="w-100 align-self-center">
                    <p>Tokyo</p>
                    <p class="card-text">
                      * visit the art institute of chicago
                      <br>
                      * take a photo in front of cloud gate
                      <br>
                      * check out chicago skyline
                      <br>
                      * chicago river architecture tour
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="card card-hover h-100">
            <div class="card-body">
              <a href="index.html">
                <img class="card-img-top" src="../../../assets/la.avif" alt="Card image cap">
                <div class="reveal h-100 p-2 d-flex ">
                  <div class="w-100 align-self-center">
                    <p>Los Angeles</p>
                    <p class="card-text">
                      * visit the art institute of chicago
                      <br>
                      * take a photo in front of cloud gate
                      <br>
                      * check out chicago skyline
                      <br>
                      * chicago river architecture tour
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="card card-hover h-100">
            <div class="card-body">
              <a href="index.html">
                <img class="card-img-top" src="../../../assets/washington.avif" alt="Card image cap">
                <div class="reveal h-100 p-2 d-flex ">
                  <div class="w-100 align-self-center">
                    <p>Washington DC</p>
                    <p class="card-text">
                      * visit the art institute of chicago
                      <br>
                      * take a photo in front of cloud gate
                      <br>
                      * check out chicago skyline
                      <br>
                      * chicago river architecture tour
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="card card-hover h-100">
            <div class="card-body">
              <a href="index.html">
                <img class="card-img-top" src="../../../assets/ny.avif" alt="Card image cap">
                <div class="reveal h-100 p-2 d-flex ">
                  <div class="w-100 align-self-center">
                    <p>New York</p>
                    <p class="card-text">
                      * visit the art institute of chicago
                      <br>
                      * take a photo in front of cloud gate
                      <br>
                      * check out chicago skyline
                      <br>
                      * chicago river architecture tour
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="card card-hover h-100">
            <div class="card-body">
              <a href="index.html">
                <img class="card-img-top" src="../../../assets/hawaii.avif" alt="Card image cap">
                <div class="reveal h-100 p-2 d-flex ">
                  <div class="w-100 align-self-center">
                    <p>Hawaii</p>
                    <p class="card-text">
                      * visit the art institute of chicago
                      <br>
                      * take a photo in front of cloud gate
                      <br>
                      * check out chicago skyline
                      <br>
                      * chicago river architecture tour
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="card card-hover h-100">
            <div class="card-body">
              <a href="index.html">
                <img class="card-img-top" src="../../../assets/austin.avif" alt="Card image cap">
                <div class="reveal h-100 p-2 d-flex ">
                  <div class="w-100 align-self-center">
                    <p>Austin</p>
                    <p class="card-text">
                      * visit the art institute of chicago
                      <br>
                      * take a photo in front of cloud gate
                      <br>
                      * check out chicago skyline
                      <br>
                      * chicago river architecture tour
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="card card-hover h-100">
            <div class="card-body">
              <a href="index.html">
                <img class="card-img-top" src="../../../assets/miami.avif" alt="Card image cap">
                <div class="reveal h-100 p-2 d-flex ">
                  <div class="w-100 align-self-center">
                    <p>Miami</p>
                    <p class="card-text">
                      * visit the art institute of chicago
                      <br>
                      * take a photo in front of cloud gate
                      <br>
                      * check out chicago skyline
                      <br>
                      * chicago river architecture tour
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="card card-hover h-100">
            <div class="card-body">
              <a href="index.html">
                <img class="card-img-top" src="../../../assets/sanfrancisco.avif" alt="Card image cap">
                <div class="reveal h-100 p-2 d-flex ">
                  <div class="w-100 align-self-center">
                    <p>San Francisco</p>
                    <p class="card-text">
                      * visit the art institute of chicago
                      <br>
                      * take a photo in front of cloud gate
                      <br>
                      * check out chicago skyline
                      <br>
                      * chicago river architecture tour
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Gallery -->